@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FiraGO", sans-serif;
  min-height: 100vh;
}

header {
  border-bottom: 1px solid #e4e3eb;
  background: #fff;
  display: flex;
  padding: 20px 76px;
  justify-content: space-between;
  align-items: center;
}

.enter {
  width: 93px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #5d37f3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

main {
  background: #f3f2fa;
}

.minicontainer {
  padding-left: 89px;
  padding-right: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #1a1a1f;

  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}

.figures {
  width: 624px;
  height: 200px;
  padding-top: 64px;
}

.buttons {
display: flex;
justify-content: center;
    align-items: center;
gap : 24px;


}

.market {
  color: #D6961C;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; 
width: 83px;
height: 32px;
border-radius: 30px;
background: rgba(255, 184, 47, 0.08);
border: none;
}

