@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FiraGO", sans-serif;
  min-height: 100vh;
}

header {
  border-bottom: 1px solid #e4e3eb;
  background: #fff;
  display: flex;
  padding: 20px 76px;
  justify-content: space-between;
  align-items: center;
}

.enter {
  width: 93px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #5d37f3;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

main {
  background: #f3f2fa;
  display: flex;
  justify-content: space-between;
  padding-left: 89px;
  padding-right: 76px;
}

h1 {
  color: #1a1a1f;

  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  /* padding-left: 89px; */
  padding-top: 128px;
  
}


.figures {
  Width: 624px;
Height: 200px;
display: flex;
justify-content: center;
align-items: center;
}