@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "FiraGO", sans-serif;
    width: 100%;
  }

  .entrance {
    width: 1440px;
    height: 80px;
  }

.logo {
    
}