header {
  display: flex;
  justify-content: center;
  padding: 28px 0 28px 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfaff;
}
form {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-top: 40px;
}
#img-arrow {
  position: absolute;
  top: 120px;
  left: 76px;
}
#blog-add_h2 {
  color: #1a1a1f;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; /* 125% */
}
#img-upload_h3 {
  color: #1a1a1f;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.file-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 12px;
  border: 1px dashed #85858d;
  background: #f4f3ff;
  width: 600px;
  height: 180px;
  margin-top: 8px;
}
.file-box p {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.file-box p span {
  font-weight: 500;
  text-decoration-line: underline;
}
.row {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}
.author {
  display: flex;
  flex-direction: column;
}
label {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
input {
  width: 288px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  padding-left: 16px;
  margin-top: 8px;
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
::placeholder {
  color: #85858d;
}
ul {
  margin-top: 8px;
  color: #85858d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-left: 13px;
}
.title {
  display: flex;
  flex-direction: column;
}
.description {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
textarea {
  display: flex;
  width: 600px;
  height: 124px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 12px 0 0 16px;
  margin-top: 8px;
  resize: none;
}

.validation-para {
  margin-top: 8px;
  color: #85858d;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.date {
  display: flex;
  flex-direction: column;
}
#date-input {
  padding-left: 40px;
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  font-family: inherit;
}
input[type="date"] {
  position: relative;
  background: url(./images/calendar-icon.svg);
  background-repeat: no-repeat;
  background-position: 5%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 250px;
  opacity: 0;
  cursor: pointer;
}
.category-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 288px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  margin-top: 8px;
}
.category-div h4 {
  color: #85858d;
  font-size: 14px;
  width: 142px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.category-div img {
  width: 20px;
  height: 20px;
}
.drop-down_menu {
  display: flex;
  display: none;
  gap: 8px;
  flex-wrap: wrap;
  padding: 16px 27px 16px 16px;
  margin-top: 2px;
  width: 288px;
  height: 144px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fff;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.08);
}
.category-button {
  padding: 8px 16px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}
.მარკეტი {
  background: #ffb82f;
}
.აპლიკაცია {
  background: #1ac7a8;
}
.ხელოვნური-ინტელექტი {
  background: #b71fdd;
}
.UI-UX {
  background: rgba(250, 87, 87, 0.08);
  color: #dc2828;
}
.კვლევა {
  background: rgba(112, 207, 37, 0.08);
  color: #60be16;
}
.figma {
  background: rgba(8, 210, 174, 0.08);
  color: #1ac7a8;
}
.email {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
#email-span {
  color: #ea1919;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  display: none;
  align-items: flex-start;
  gap: 8px;
  margin-top: 8px;
}
span p {
  width: 260px;
}
